body { overflow: hidden; }

[role="toolbar"] li button {
	font-size: inherit;
	color: white;
	width: auto;
	padding-left: 35px;
	padding-right: 10px;
	margin: 0;
	background-position: 0 center;
}

[role="toolbar"] li button.update {
    background-image: url("../images/toolbars/icons/update.png");
}


[role="toolbar"] li button#closer {
    background-image: url("../images/Go-Closer.png");
}


[role="toolbar"] li button#farther {
    background-image: url("../images/Go-Farther.png");
}

[type="toolbar"] img {
    height: 80%; padding:5px 0;
}

[type="toolbar"] a {
    width:80px !important;
}

#map {
  position:fixed;
  top:0px; left:0px;
  width:100%; height:100%;
/*  overflow:hidden;
  background:url(../images/worldmap_vladstudio.jpg) no-repeat;
  background-size:auto 100%; */
}

#compass {
    background:url(../images/Simple_compass_rose.png) no-repeat;
    background-size:100% auto;
    margin-left:-40%; left:50%;
    width:80%; height:80%;
    position:fixed;
    z-index:10;
}
